Repository mateoolarte/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

update libs and improve some styles
  app/components/HomeHero/HomeHero.tsx
  app/components/HomeHero/styles.ts
  app/components/Logo/data.ts
  app/components/Logo/styles.ts
  app/components/Nav/styles.ts
  app/components/ProjectCard/ProjectCard.tsx
  app/components/ProjectCard/styles.ts
  app/containers/FeaturedProjects/styles.ts
  app/containers/LatestPosts/styles.ts
  app/containers/Layout/styles.ts
  app/data/projects.ts
  app/routes/about.tsx
  app/routes/blog/index.tsx
  app/routes/index.tsx
  app/utils/constants.ts
  app/utils/seo.ts
  package.json
  public/assets/images/projects/bg-servillantas.jpg
  public/assets/images/projects/icon-servillantas.png
  yarn.lock
Due: eslint, prettier --write, stylelint

move config files to package.json and remove unused logo images
  .browserslistrc
  .eslintrc.js
  .lintstagedrc
  package.json
  prettier.config.js
  public/assets/images/logo-blog-large-dark.png
  public/assets/images/logo-blog-large-light.png
  public/assets/images/logo-large-dark.png
  public/assets/images/logo-large-light.png
  public/assets/images/logo-medium-dark.png
  public/assets/images/logo-medium-light.png
  stylelint.config.js
Due: eslint, prettier --write

change yarn by pnpm
  pnpm-lock.yaml
  yarn.lock
Due: none

update libs and go back to yarn
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

Update projects.ts
  app/data/projects.ts
Due: eslint, prettier --write

add nvmrc with nodejs version and update libs
  .env-example
  .env.example
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

run codemod and fix typo in node version
  .nvmrc
  app/components/Footer/Footer.tsx
  app/components/Head/Head.tsx
  app/components/HomeHero/HomeHero.tsx
  app/components/HomePost/styles.ts
  app/components/Logo/Logo.tsx
  app/components/Logo/styles.ts
  app/components/Nav/Nav.tsx
  app/components/Nav/styles.ts
  app/components/PostCard/styles.ts
  app/containers/LatestPosts/styles.ts
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/blog/$slug.tsx
  app/routes/blog/index.tsx
  app/routes/index.tsx
  package.json
  yarn.lock
Due: eslint, prettier --write, stylelint

update to lts node version
  .nvmrc
Due: none

update lastest cloudflare node version supported
  .nvmrc
Due: none

setup config to deploy to cloudflare pages
  app/entry.server.tsx
  app/root.tsx
  package.json
  public/_headers
  public/_routes.json
  remix.config.js
  remix.env.d.ts
  server.js
  yarn.lock
Due: eslint, prettier --write

add missing libs and scripts
  package.json
Due: prettier --write

go back to vercel deployment platform
  .gitignore
  .nvmrc
  app/components/HomeHero/HomeHero.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/routes/about.tsx
  app/routes/blog/index.tsx
  app/routes/index.tsx
  app/utils/seo.ts
  package.json
  public/_headers
  public/_routes.json
  remix.config.js
  remix.env.d.ts
  server.js
  tsconfig.json
  vercel.json
  yarn.lock
Due: eslint, prettier --write

optimize image assets
  public/assets/icons/dark.svg
  public/assets/icons/light.svg
  public/favicon.png
Due: none

add api/index.js
  api/index.js
Due: eslint, prettier --write

add miconomy project
  api/index.js
  app/data/projects.ts
  public/assets/images/projects/bg-expensify.jpg
  public/assets/images/projects/bg-miconomy.jpg
  public/assets/images/projects/icon-miconomy.svg
Due: eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

update config to deploy with netlify
  _app_redirects
  api/index.js
  globals.d.ts
  netlify.toml
  package.json
  remix.config.js
  remix.env.d.ts
  server.js
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write

clean up roadmap and comment remix import
  README.md
  components/Head/Head.tsx
Due: eslint, prettier --write

add ts-nocheck
  README.md
  components/Nav/Nav.tsx
  components/Nav/styles.ts
  components/PostCard/PostCard.tsx
  components/PostCard/styles.ts
  context/ThemeContext.ts
  data/latestPosts.ts
  data/posts.ts
  hooks/useTheme.ts
  tsconfig.json
Due: eslint, prettier --write

remove @ts-nocheck and update by next skip ts errors
  README.md
  components/Nav/Nav.tsx
  components/PostCard/PostCard.tsx
  components/PostCard/styles.ts
  data/latestPosts.ts
  data/posts.ts
  hooks/useTheme.ts
  next.config.js
  tsconfig.json
Due: eslint, prettier --write

add google font
  components/Head/Head.tsx
  components/Head/index.ts
  components/PostCard/styles.ts
  containers/Layout/Layout.tsx
  containers/Layout/styles.ts
  pages/blog/[slug].tsx
Due: eslint, prettier --write

add types to containers
  containers/FeaturedProjects/FeaturedProjects.tsx
  containers/LatestPosts/LatestPosts.tsx
  containers/LatestPosts/types.ts
  containers/Layout/Layout.tsx
  containers/Layout/styles.ts
  containers/Layout/types.ts
  data/latestPosts.ts
Due: eslint, prettier --write

Update index.html
  index.html
Due: none

Update about.html
  about.html
Due: none

Update work.html
  work.html
Due: none

update editorconfig file
  .editorconfig
Due: none

sync pnpm-lock file
  pnpm-lock.yaml
Due: none

remove date field projects
  components/ProjectCard/ProjectCard.tsx
  data/projects.ts
  types/projects.ts
Due: eslint, prettier --write

update config files and fixed node version
  .browserslistrc
  .eslintrc.json
  .nvmrc
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update projects.ts
  data/projects.ts
Due: eslint, prettier --write

feat: add README
  README.md
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,mdx}
  stylelint: any of: ./app/**/styles.ts
