Repository mateoolarte/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{js,jsx,ts,tsx,json,md,mdx}": "prettier --write",
  "./app/**/styles.ts": "stylelint"
}

feat: add message about new website
  app/page.tsx
Due: eslint, prettier --write

feat: update libs
  package-lock.json
  package.json
Due: prettier --write

feat: update twitter icon for X icon and urls on the projects section
  data/projects.ts
  data/secondaryNav.ts
  icons/twitter.tsx
  icons/x.tsx
  package-lock.json
  pnpm-lock.yaml
Due: eslint, prettier --write

fix: transformer from notion content to markdown
  data/post.ts
Due: eslint, prettier --write

fix: unexpected error first load page
  hooks/useTheme.ts
Due: eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

chore: update dependencies and configuration
  .eslintrc.json
  .gitignore
  .nvmrc
  README.md
  app/layout.tsx
  app/page.tsx
  bun.lock
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint, prettier --write

feat: add coming soon page
  .gitignore
  README.md
  app/globals.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  bun.lock
  package.json
Due: eslint, prettier --write

fix: build errors
  app/layout.tsx
  app/page.tsx
Due: eslint, prettier --write

feat: add basic metadata and favicon image
  app/favicon.ico
  app/layout.tsx
Due: eslint, prettier --write

feat: setup code quality checks, test, git hooks, lint-staged changes
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  app/page.test.tsx
  bun.lock
  commitlint.config.js
  e2e/homepage.test.ts
  eslint.config.js
  lint-staged.config.js
  package.json
  playwright.config.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, prettier --write

fix: pre-push command to include tests check and ignore e2e from vitest
  .husky/pre-push
  package.json
  vitest.config.ts
Due: eslint, prettier --write

feat: add bundle analyzer
  bun.lock
  next.config.js
  package.json
Due: eslint, prettier --write

feat: setup stylelint and fix some errors
  app/globals.css
  app/page.module.css
  lint-staged.config.js
  stylelint.config.js
Due: eslint, prettier --write

feat: update scripts to include audit check and put it on the pre-push hook
  .husky/pre-push
  bun.lock
  eslint.config.js
  package.json
Due: eslint, prettier --write

fix: change run script order to build app before e2e check
  .husky/pre-push
Due: none

refactor: move build script before test commands
  .husky/pre-push
Due: none

feat: add github action for ci
  .github/workflows/ci.yml
  .gitignore
  app/page.tsx
  package.json
Due: eslint, prettier --write

fix: update build order to not fail tests
  .github/workflows/ci.yml
Due: none

refactor(ci): update workflow name to be more explicit
  .github/workflows/ci.yml
Due: none

feat: update colors with new palette colors
  app/globals.css
  app/page.module.css
  app/page.tsx
Due: eslint, prettier --write

feat: update dependencies
  app/globals.css
  app/page.module.css
  bun.lock
  package.json
  tsconfig.json
Due: prettier --write

chore: update ESLint configuration and add PostHog instrumentation
  bun.lock
  eslint.config.js
  instrumentation-client.ts
  next.config.js
  package.json
Due: eslint, prettier --write

chore: update dependecies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  bun.lock
  package.json
Due: prettier --write

chore: add name and version properties in package.json
  package.json
Due: prettier --write

ci: add name for the github action job
  .github/workflows/ci.yml
Due: none

docs: add an initital getting started information
  README.md
Due: prettier --write

chore: add a .env.example file
  .env.example
Due: none

refactor: add a homepage folder for better code organization
  app/(homepage)/page.module.css
  app/(homepage)/page.test.tsx
  app/(homepage)/page.tsx
Due: eslint, prettier --write

docs: update README
  README.md
Due: prettier --write

chore: update dependencies to fix the react vulnerability
  bun.lock
  package.json
Due: prettier --write

feat: update posthog web analytics integration
  bun.lock
  instrumentation-client.ts
  package.json
Due: eslint, prettier --write

ci: add ci check before releasing to vercel
  .github/workflows/ci.yml
Due: none

ci: change trigger to repository_dispatch
  .github/workflows/ci.yml
Due: none

ci: update workflow
  .github/workflows/ci.yml
Due: none

ci: rollback vercel changes
  .github/workflows/ci.yml
Due: none

fix: add process.env
  instrumentation-client.ts
Due: eslint, prettier --write

feat: add sonarjs eslint plugin
  app/globals.css
  bun.lock
  eslint.config.js
  package.json
  playwright.config.ts
Due: eslint, prettier --write

feat: improve styles structure and heading
  app/(homepage)/page.module.css
  app/layout.tsx
  app/styles/globals.css
  app/styles/reset.css
  app/styles/vars.css
Due: eslint, prettier --write
