Repository mateoolarte/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

refactor(ui): migrate Dialog from Radix UI to Base UI
  app/[locale]/components/contact-form/contact-form.tsx
  bun.lock
  package.json
Due: eslint, prettier --write

chore(deps): remove @next/bundle-analyzer
  bun.lock
  next.config.ts
  package.json
Due: eslint, prettier --write

chore(deps): update dependencies
  bun.lock
  package.json
Due: prettier --write

chore(test): use Vite native tsconfig path resolution
  vitest.config.ts
Due: eslint, prettier --write

chore(test): remove Vitest unit testing setup
  .husky/pre-push
  AGENTS.md
  README.md
  app/[locale]/page.test.tsx
  bun.lock
  package.json
  vitest.config.ts
Due: eslint, prettier --write

style(page): reformat home page component
  app/[locale]/page.tsx
Due: eslint, prettier --write

refactor(imports): use @/ alias for shared folders and document convention
  AGENTS.md
  app/[locale]/layout.tsx
  proxy.ts
Due: eslint, prettier --write

refactor(app): adopt PascalCase component folders with index files
  app/[locale]/components/ContactForm/index.module.css
  app/[locale]/components/ContactForm/index.tsx
  app/[locale]/components/contact-form/index.ts
Due: eslint, prettier --write

docs: document PascalCase component folder convention
  AGENTS.md
  app/[locale]/page.tsx
Due: eslint, prettier --write

chore(deps): upgrade TypeScript to 7 and remove eslint-plugin-sonarjs
  README.md
  app/[locale]/components/ContactForm/index.tsx
  bun.lock
  commitlint.config.mjs
  commitlint.config.ts
  lint-staged.config.mjs
  oxlint.config.ts
  package.json
  stylelint.config.mjs
Due: eslint, prettier --write

chore(node): require Node 26 via engines and match @types/node
  .npmrc
  .nvmrc
  bun.lock
  package.json
Due: prettier --write

refactor(i18n): move contact email to translation messages
  app/[locale]/components/ContactForm/index.tsx
  messages/en.json
  messages/es.json
Due: eslint, prettier --write

chore(config): replace .npmrc with bunfig.toml
  bunfig.toml
Due: none

chore(node): relax engines to Node 24 and above
  package.json
Due: prettier --write

refactor(i18n): replace deprecated requestLocale with next/root-params
  i18n/request.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,mdx}
  stylelint: any of: ./app/**/styles.ts
