Repository mateoolarte/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore: add unicorn eslint plugin
  app/layout.tsx
  bun.lock
  eslint.config.js
  package.json
Due: eslint, prettier --write

chore: fix npm dependencies
  bun.lock
  package.json
Due: prettier --write

ci: remove type-check script, it runs with build script
  .github/workflows/ci.yml
Due: none

docs: update test script name
  README.md
  package.json
Due: prettier --write

feat: setup next-intl to handle i18n
  .npmrc
  app/[locale]/(homepage)/page.module.css
  app/[locale]/(homepage)/page.test.tsx
  app/[locale]/(homepage)/page.tsx
  app/[locale]/layout.tsx
  app/layout.tsx
  bun.lock
  eslint.config.js
  messages/en.json
  messages/es.json
  next.config.js
  proxy.ts
  services/i18n/navigation.ts
  services/i18n/request.ts
  services/i18n/routing.ts
  styles/globals.css
  styles/reset.css
  styles/vars.css
Due: eslint, prettier --write

fix: change alias to relative path
  app/[locale]/layout.tsx
Due: eslint, prettier --write

feat: update contact icon and add modal contact form
  app/[locale]/(homepage)/components/contact-form/contact-form.module.css
  app/[locale]/(homepage)/components/contact-form/contact-form.tsx
  app/[locale]/(homepage)/page.module.css
  app/[locale]/(homepage)/page.tsx
  app/[locale]/layout.tsx
  bun.lock
  messages/en.json
  messages/es.json
  package.json
  styles/globals.css
Due: eslint, prettier --write

fix: vulnerabilities issue and unit test
  app/[locale]/(homepage)/page.test.tsx
  bun.lock
Due: eslint, prettier --write

feat: setup convex and auth strategy with better-auth
  .gitignore
  app/ConvexClientProvider.tsx
  app/api/auth/[...all]/route.ts
  app/layout.tsx
  bun.lock
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/auth.config.ts
  convex/auth.ts
  convex/convex.config.ts
  convex/http.ts
  eslint.config.js
  package.json
  proxy.ts
  services/auth/auth-client.ts
  services/auth/auth-server.ts
Due: eslint, prettier --write

feat: add sign-in and admin pages setup
  app/[locale]/(homepage)/components/contact-form/index.ts
  app/[locale]/(homepage)/page.tsx
  app/[locale]/layout.tsx
  app/admin/layout.tsx
  app/admin/page.tsx
  app/sign-in/page.tsx
Due: eslint, prettier --write

feat: remove convex auth support
  README.md
  app/ConvexClientProvider.tsx
  app/api/auth/[...all]/route.ts
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/auth.config.ts
  convex/auth.ts
  convex/convex.config.ts
  convex/http.ts
  package.json
  services/auth/auth-client.ts
  services/auth/auth-server.ts
Due: eslint, prettier --write

fix: sync bun.lock file
  bun.lock
Due: none

docs: update readme and create guide for i18n and analytics integrations
  README.md
  bun.lock
  docs/analytics.md
  docs/i18n.md
Due: prettier --write

chore: update dependencies and devDependencies in package.json
  bun.lock
  package.json
Due: prettier --write

feat: setup Supabase basic auth with email/password
  .env.example
  CLAUDE.md
  app/admin/components/sign-out-button.tsx
  app/admin/page.tsx
  app/sign-in/components/sign-in-form.tsx
  app/sign-in/page.tsx
  bun.lock
  package.json
  proxy.ts
  services/auth/client.ts
  services/auth/server.ts
Due: eslint, prettier --write

test: add e2e for auth flow, disable firefox and webkit browsers
  .github/workflows/ci.yml
  .gitignore
  app/sign-in/components/sign-in-form.test.tsx
  bun.lock
  e2e/auth.setup.ts
  e2e/auth.test.ts
  package.json
  playwright.config.ts
Due: eslint, prettier --write

fix: e2e tests in ci env
  playwright.config.ts
Due: eslint, prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

chore: migrate config files from JS to TS
  commitlint.config.js
  commitlint.config.ts
  lint-staged.config.ts
  next.config.ts
Due: eslint, prettier --write

chore(deps): downgrade @types/node to match Node 24.x and fix protobufjs CVE
  bun.lock
  package.json
Due: prettier --write

chore(deps): downgrade @vitejs/plugin-react to 5.2.0 for vite 7 compatibility
  bun.lock
  package.json
Due: prettier --write

docs(claude): add commit message and dependency versioning guidelines
  .env.example
  CLAUDE.md
  package.json
Due: prettier --write

fix(e2e): load .env.local in Playwright config
  playwright.config.ts
Due: eslint, prettier --write

chore(config): migrate stylelint config from JS to TS
  stylelint.config.ts
Due: eslint, prettier --write

fix(config): remove deprecated baseUrl and fix @/* paths alias
  tsconfig.json
Due: prettier --write

docs: add auth, styling, and testing documentation
  docs/auth.md
  docs/styling.md
  docs/testing.md
Due: prettier --write

chore(tooling): migrate to Oxlint/Oxfmt and update deps
  .gitignore
  CLAUDE.md
  README.md
  app/[locale]/(homepage)/components/contact-form/contact-form.tsx
  app/[locale]/(homepage)/page.tsx
  app/[locale]/layout.tsx
  app/sign-in/components/sign-in-form.test.tsx
  app/sign-in/components/sign-in-form.tsx
  bun.lock
  docs/i18n.md
  eslint.config.js
  lint-staged.config.ts
  oxlint.config.ts
  package.json
  proxy.ts
  services/i18n/navigation.ts
  services/i18n/request.ts
Due: eslint, prettier --write

fix(deps): add vite 8 required by @vitejs/plugin-react 6
  bun.lock
  package.json
Due: prettier --write

fix(deps): downgrade @vitejs/plugin-react to 5.2.0 and remove vite 8
  bun.lock
  package.json
Due: prettier --write

fix(proxy): skip Supabase auth on homepage
  proxy.ts
Due: eslint, prettier --write

chore(deps): update dependencies to latest
  bun.lock
  package.json
Due: prettier --write

chore(deps): remove unused posthog-node and fix docs drift
  CLAUDE.md
  README.md
  bun.lock
  docs/analytics.md
  docs/auth.md
  docs/i18n.md
  docs/testing.md
  package.json
Due: prettier --write

chore(test): remove Playwright E2E setup
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-push
  CLAUDE.md
  README.md
  bun.lock
  docs/testing.md
  e2e/auth.setup.ts
  e2e/auth.test.ts
  e2e/homepage.test.ts
  oxlint.config.ts
  package.json
  playwright.config.ts
Due: eslint, prettier --write

ci: remove GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

refactor(auth): remove admin and sign-in routes
  .env.example
  CLAUDE.md
  app/admin/components/sign-out-button.tsx
  app/admin/layout.tsx
  app/admin/page.tsx
  app/sign-in/components/sign-in-form.test.tsx
  app/sign-in/components/sign-in-form.tsx
  app/sign-in/page.tsx
  bun.lock
  docs/auth.md
  docs/testing.md
  package.json
  proxy.ts
  services/auth/client.ts
  services/auth/server.ts
Due: eslint, prettier --write

refactor(layout): merge root layout into locale layout
  app/[locale]/layout.tsx
  app/layout.tsx
Due: eslint, prettier --write

docs: rename CLAUDE.md to AGENTS.md
  AGENTS.md
Due: prettier --write

refactor(app): remove homepage route group
  app/[locale]/components/contact-form/contact-form.module.css
  app/[locale]/components/contact-form/contact-form.tsx
  app/[locale]/components/contact-form/index.ts
  app/[locale]/page.module.css
  app/[locale]/page.test.tsx
  app/[locale]/page.tsx
Due: eslint, prettier --write

docs: remove docs folder, fold key conventions into AGENTS.md
  AGENTS.md
  docs/analytics.md
  docs/i18n.md
  docs/styling.md
  docs/testing.md
Due: prettier --write

refactor(i18n): move i18n config from services/i18n to i18n
  AGENTS.md
  app/[locale]/layout.tsx
  i18n/navigation.ts
  i18n/request.ts
  i18n/routing.ts
  next.config.ts
  proxy.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,mdx}
  stylelint: any of: ./app/**/styles.ts
